<article class="post">
    <div class="title">
        <span>{{title}}</span>
        <p>({{post_content}})</p>
    </div>
    <div class="meta">
        Posted by {{user.username}} on {{createdAt}}
        |
        <a href="/post/{{id}}"></a>
    </div>
</article>