<article class="post">
    <div class="title">
        <a href="/post/{{id}}"><span>{{title}}</span></a>
        <p>{{post_content}}</p>
    </div>
    <div class="meta">
        Posted by {{user.username}} on {{format_date created_at}}
    </div>
</article>