<article class="post">
    <div class="title">
        <a href="/post/{{id}}"><span>{{title}}</span></a>
        <p>{{post_content}}</p>
    </div>
    <div class="meta">
        <p>Posted by {{user.username}} on {{format_date created_at}}
        {{#if comments.length}}
        | {{comments.length}} comment(s)</p>
        {{/if}}
    </div>
</article>